.navigation-bar {
  display: flex;
  flex-direction: raw;
  font-weight: bold;
  font-size: 18px;
  justify-content: space-between;
  padding-right: 30px;
}

.church-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  padding-left: 20px;
}
.youth {
  height: 10%;
  width: 10%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: red;
}
